.DS_Store
.venv
.vscode
*.zip
go.sum
fancontroller/config.yml
fancontroller/fancontroller
fancontroller/fancontroller.log
kicad/_autosave*
kicad/*-bak
kicad/*.lck
kicad/#auto_saved_files#
kicad/fp-info-cache
kicad/fp-lib-table
kicad/RP2040_Fan_Controller-backups/
tinygo
