.DS_Store
.venv
.vscode
*.zip
go.sum
pico-fan-controller/config.yml
pico-fan-controller/pico-fan-controller
pico-fan-controller/pico-fan-controller.log
kicad/_autosave*
kicad/*-bak
kicad/*.lck
kicad/#auto_saved_files#
kicad/fp-info-cache
kicad/fp-lib-table
kicad/RP2040_Fan_Controller-backups/
tinygo
